In [7]:
import pandas_access as mdb
import sqlite3
import pandas as pd
import csv as cv

link to data:
https://www.stlouis-mo.gov/data/parcels.cfm

In [8]:
pwd

'C:\\Users\\Hasib\\Desktop\\class\\project_one'

In [9]:
for tbl in mdb.list_tables("prcl.mdb"):
    print(tbl)

FileNotFoundError: [WinError 2] The system cannot find the file specified

In [35]:
prcl = mdb.read_table("prcl.mdb", "PrclREAR")
prcl.head()

,CityBlock,Parcel,OwnerCode,BillYear,BillSuffix,LastUpdate,OriginalCharge,TaxAmt,LandValue,ImproveValue,...,ComTotalValue,ComTaxAmt,SurTaxAmt,SBDTaxAmt,LatSewerAmt,DemoCharge,NuisanceTax,TIFDist,TIFSplit,SpecBusDist2
0,1.0,5,8,2009,1,01/11/10 00:00:00,1002.6700,1002.6700,0.0000,12100.0000,...,0.0000,804.2300,198.4400,0.0000,0.0000,0.0000,0.0000,0,0,0
1,1.0,5,8,2010,1,01/06/11 00:00:00,1035.6000,1035.6000,0.0000,12100.0000,...,0.0000,837.1600,198.4400,0.0000,0.0000,0.0000,0.0000,0,0,0
2,1.0,5,8,2011,1,01/12/12 00:00:00,1070.4900,1070.4900,0.0000,12100.0000,...,0.0000,872.0500,198.4400,0.0000,0.0000,0.0000,0.0000,0,0,0
3,1.0,5,8,2012,1,01/09/13 00:00:00,1105.6300,1105.6300,0.0000,12100.0000,...,0.0000,907.1900,198.4400,0.0000,0.0000,0.0000,0.0000,0,0,0
4,1.0,5,8,2013,1,12/16/13 00:00:00,1116.5200,1116.5200,0.0000,12100.0000,...,0.0000,918.0800,198.4400,0.0000,0.0000,0.0000,0.0000,0,0,0

In [45]:
new_df = pd.DataFrame(prcl, columns=["CityBlock", "Parcel", "OwnerCode", "BillYear","TaxAmt", "TotalValue", "TaxBal", "ResTaxAmt"])
new_df.head()

   CityBlock Parcel BillYear     TaxAmt  TotalValue  TaxBal ResTaxAmt
0        1.0      5     2009  1002.6700  12100.0000  0.0000    0.0000
1        1.0      5     2010  1035.6000  12100.0000  0.0000    0.0000
2        1.0      5     2011  1070.4900  12100.0000  0.0000    0.0000
3        1.0      5     2012  1105.6300  12100.0000  0.0000    0.0000
4        1.0      5     2013  1116.5200  12100.0000  0.0000    0.0000

In [ ]:
new_df["id"] = new_df["CityBlock"].map(str) + "_" + new_df["Parcel"] + "_" + new_df["OwnerCode"]

In [ ]:
new_df = pd.DataFrame(new_df, columns=["id", "BillYear","TaxAmt", "TotalValue", "TaxBal", "ResTaxAmt"])

In [48]:
filtered_df = new_df.loc[new_df['ResTaxAmt']!= "0.0000"]
filtered_df

,CityBlock,Parcel,BillYear,TaxAmt,TotalValue,TaxBal,ResTaxAmt
1292,68.0,20,2015,4386.2400,17210.0000,0.0000,1306.2000
1293,68.0,20,2016,4768.4600,17210.0000,0.0000,1442.5100
1294,68.0,20,2017,4719.3800,17210.0000,0.0000,1424.2300
1295,68.0,20,2018,4786.1100,17210.0000,0.0000,1449.0800
1786,97.0,10,2013,3202.6500,36920.0000,0.0000,2801.2700
1787,97.0,10,2014,3201.7600,36920.0000,0.0000,2800.3800
1788,97.0,10,2015,3227.4800,36920.0000,0.0000,2802.1500
1789,97.0,10,2016,3537.1300,36920.0000,0.0000,3094.5600
1790,97.0,10,2017,3497.9200,36920.0000,0.0000,3055.3500
1791,97.0,10,2018,3551.2300,36920.0000,0.0000,3108.6600
1793,97.0,20,2013,6389.0900,71670.0000,0.0000,5437.8900
1794,97.0,20,2014,6387.3700,71670.0000,0.0000,5436.1700
1795,97.0,20,2015,6447.5000,71670.0000,0.0000,5439.6100
1796,97.0,20,2016,7056.0500,71670.0000,0.0000,6007.2400
1797,97.0,20,2017,6979.9300,71670.0000,0.0000,5931.1200
1798,97.0,20,2018,7083.4200,71670.0000,0.0000,6034.6100
1799,97.0,30,2012,63188.1100,685900.0000,0.0000,51424.6700
1800,97.0,30,2013,57431.5900,606210.0000,0.0000,45995.5800
1801,97.0,30,2014,64115.2200,685900.0000,0.0000,52025.5200
1802,97.0,30,2015,58499.5800,606250.0000,0.0000,46013.1600
1803,97.0,30,2016,64061.0500,606250.0000,0.0000,50814.6600
1804,97.0,30,2017,63352.5400,606250.0000,0.0000,50170.8300
1805,97.0,30,2018,64315.9000,606250.0000,0.0000,51046.2500
1867,99.0,17,2010,2374.4800,33270.0000,0.0000,2301.8500
1868,99.0,17,2011,1883.9100,25120.0000,0.0000,1810.4000
1869,99.0,17,2012,1961.0900,25120.0000,0.0000,1883.3500
1870,99.0,17,2013,1849.4100,23310.0000,0.0000,1768.6200
1871,99.0,17,2014,1848.8500,23310.0000,0.0000,1768.0600
1872,99.0,17,2015,2263.1200,28690.0000,0.0000,2177.5100
1873,99.0,17,2016,2493.8300,28690.0000,0.0000,2404.7400
...,...,...,...,...,...,...,...
1120191,9120.0,150,2013,453.6500,5610.0000,0.0000,425.6500
1120192,9120.0,150,2014,453.5200,5610.0000,0.0000,425.5200
1120193,9120.0,150,2015,427.2200,5260.0000,0.0000,399.2200
1120194,9120.0,150,2016,468.8800,5260.0000,0.0000,440.8800
1120195,9120.0,150,2017,419.4400,4730.0000,0.0000,391.4400
1120196,9120.0,150,2018,426.2700,4730.0000,0.0000,398.2700
1120197,9120.0,350,2009,332.9900,5010.0000,0.0000,332.9900
1120198,9120.0,350,2010,346.6300,5010.0000,0.0000,346.6300
1120199,9120.0,350,2011,368.2800,5110.0000,0.0000,368.2800
1120200,9120.0,350,2012,528.0800,6670.0000,0.0000,500.0800
1120201,9120.0,350,2013,490.8300,6100.0000,0.0000,462.8300
1120202,9120.0,350,2014,490.6900,6100.0000,0.0000,462.6900
1120203,9120.0,350,2015,391.5500,4790.0000,0.0000,363.5500
1120204,9120.0,350,2016,429.4900,4790.0000,0.0000,401.4900
1120205,9120.0,350,2017,394.6100,4430.0000,0.0000,366.6100
1120206,9120.0,350,2018,401.0100,4430.0000,0.0000,373.0100
1120207,9120.0,360,2009,523.7400,7880.0000,0.0000,523.7400
1120208,9120.0,360,2010,545.1900,7880.0000,0.0000,545.1900
1120209,9120.0,360,2011,684.6700,9500.0000,0.0000,684.6700
1120210,9120.0,360,2012,740.2500,9500.0000,0.0000,712.2500
1120211,9120.0,360,2013,1068.9900,13720.0000,0.0000,1040.9900
1120212,9120.0,360,2014,1068.6600,13720.0000,0.0000,1040.6600
1120213,9120.0,360,2015,1010.1200,12940.0000,0.0000,982.1200
1120214,9120.0,360,2016,1112.6000,12940.0000,0.0000,1084.6000
1120215,9120.0,360,2017,1011.1400,11880.0000,0.0000,983.1400
1120216,9120.0,360,2018,1028.3000,11880.0000,0.0000,1000.3000
1120239,9121.0,60,2015,90.3200,1190.0000,0.0000,90.3200
1120240,9121.0,60,2016,99.7400,1190.0000,0.0000,99.7400
1120241,9121.0,60,2017,166.3400,2010.0000,0.0000,166.3400
1120242,9121.0,60,2018,169.2400,2010.0000,0.0000,169.2400

In [50]:
filtered_df.to_csv('residential_data.csv')

In [13]:
new_df2 = pd.read_csv("Prcl_data.csv")

In [15]:
new_df2.head()

,CityBlock,Parcel,OwnerCode,ParcelId,PrimAddrRecNum,AddrType,LowAddrNum,LowAddrSuf,HighAddrNum,HighAddrSuf,...,GisPrimary,GisCityBLock,GisParcel,GisOwnerCode,Handle,Parcel9,OwnerOcc,FirstDate,LastDate,OwnerUpdate
0,1.0,5,0,10000050,1,3,626,NaN,626,NaN,...,True,1.0,5,0,10001000005,100005,NaN,1/25/2009,2/28/2019,5/10/1983
1,1.0,5,8,10000058,1,3,626,NaN,626,NaN,...,False,1.0,5,0,10001000005,100005,NaN,7/23/2006,2/28/2019,7/20/2006
2,1.0,10,0,10000100,1,3,616,NaN,622,NaN,...,True,1.0,10,0,10001000010,100010,NaN,10/7/2001,2/28/2019,5/10/1983
3,1.0,20,0,10000200,1,3,608,NaN,608,NaN,...,True,1.0,20,0,10001000020,100020,NaN,10/7/2001,2/28/2019,5/10/1983
4,1.0,32,0,10000320,2,3,619,NaN,619,NaN,...,True,1.0,32,0,10001000032,100032,NaN,10/7/2001,2/28/2019,12/16/1991

In [16]:
new_df2 = pd.DataFrame(new_df2, columns=["CityBlock", "Parcel", "OwnerCode", "VacantLot", "ResSalePrice", "VacBldgYear", "ZIP"])

In [ ]:
new_df2["id"] = new_df2["CityBlock"].map(str) + "_" + new_df2["Parcel"] + "_" + new_df2["OwnerCode"]

In [ ]:
new_df2 = pd.DataFrame(new_df2, columns=["id", "VacantLot", "ResSalePrice", "VacBldgYear", "ZIP"])

In [ ]:
new_df2 = new_df.loc[new_df['ResSalePrice']> 0]
new_df2.head()

In [ ]:
new_df2.to_csv('Prcl.csv')