In [1]:
import pandas as pd
import csv as cv

In [2]:
prcl_df = pd.read_csv('Prcl_upd.csv')
prcl_df.head()

,CityBlock,Parcel,ParcelId,AddrType,VacantLot,NbrOfBldgsRes,VacBldgYear,ZIP
0,1.0,5,10000050,3,True,0,0,63102
1,1.0,5,10000058,3,False,0,0,63102
2,1.0,10,10000100,3,True,0,1993,63102
3,1.0,20,10000200,3,False,0,0,63102
4,1.0,32,10000320,3,True,0,0,63102

In [4]:
new_df = pd.read_csv('text_data.csv')
new_df.head()

,Unnamed: 0,CityBlock,Parcel,BillYear,TaxAmt,TotalValue,TaxBal,ResTaxAmt
0,1292,68.0,20,2015,4386.24,17210.0,0.0,1306.20
1,1293,68.0,20,2016,4768.46,17210.0,0.0,1442.51
2,1294,68.0,20,2017,4719.38,17210.0,0.0,1424.23
3,1295,68.0,20,2018,4786.11,17210.0,0.0,1449.08
4,1786,97.0,10,2013,3202.65,36920.0,0.0,2801.27

In [9]:
merg_df = pd.merge(prcl_df, new_df,  how='inner', left_on=['CityBlock','CityBlock'], right_on = ['Parcel','Parcel'])
merg_df = merg_df[['CityBlock_x','Parcel_x','VacantLot','NbrOfBldgsRes','VacBldgYear','ZIP','BillYear','TaxAmt','TotalValue','TaxBal', 'ResTaxAmt']]
merg_df.rename(columns={'CityBlock_x':'CityBlock','Parcel_x':'Parcel_'},inplace=True)
merg_df.head()

,CityBlock,Parcel_,VacantLot,NbrOfBldgsRes,VacBldgYear,ZIP,BillYear,TaxAmt,TotalValue,TaxBal,ResTaxAmt
0,1.0,5,True,0,0,63102,2009,167.39,2140.0,0.0,142.24
1,1.0,5,True,0,0,63102,2010,173.72,2140.0,0.0,148.06
2,1.0,5,True,0,0,63102,2011,163.00,1900.0,0.0,136.93
3,1.0,5,True,0,0,63102,2012,169.93,1900.0,0.0,142.45
4,1.0,5,True,0,0,63102,2013,172.73,1900.0,0.0,144.16