In [31]:
import pandas_access as mdb
import sqlite3
import pandas as pd
import csv as cv

In [32]:
pwd

'/Users/timothygoldman/Desktop/project_one'

In [33]:
for tbl in mdb.list_tables("StLouisCityData.mdb"):
    print(tbl)

GDB_ColumnInfo
GDB_GeomColumns
GDB_ItemRelationships
GDB_ItemRelationshipTypes
GDB_Items
GDB_ItemTypes
GDB_ReplicaLog
GDB_SpatialRefs
PAR1997
PAR1998
PAR1999
PAR2001
PAR2002
PAR2003
PAR2004
PAR2005
PAR2007
PAR2008
PAR2009
PAR2010
PAR2011
PRCL1997_SHP_SHAPE_Index
PRCL1998_SHP
PRCL1998_SHP_SHAPE_Index
PRCL1999_SHP
PRCL1999_SHP_SHAPE_Index
PRCL2000_SHP
PRCL2000_SHP_SHAPE_Index
PRCL2001_SHP_SHAPE_Index
PRCL2002_SHP
PRCL2002_SHP_SHAPE_Index
PRCL2003_SHP
PRCL2003_SHP_SHAPE_Index
PRCL2004_SHP
PRCL2005_SHP
PRCL2005_SHP_SHAPE_Index
PRCL2006_SHP
PRCL2006_SHP_SHAPE_Index
PRCL2007_SHP
PRCL2007_SHP_Shape_Index
PRCL2008_SHP
PRCL2008_SHP_Shape_Index
PRCL2009_SHP_Shape_Index
PRCL2010_SHP
PRCL2010_SHP_Shape_Index
PRCL2011_SHP
PRCL2011_SHP_Shape_Index
PRCL2012_SHP
PRCL2013_SHP
PRCL2013_SHP_Shape_Index
GDB_Items_Shape_Index
PAR2000
PAR2006
PRCL1997_SHP
PRCL2001_SHP
PRCL2004_SHP_SHAPE_Index
PRCL2009_SHP
PRCL2012_SHP_Shape_Index
PAR2013

In [34]:
for tbl in mdb.list_tables("prcl.mdb"):
    print(tbl)

BldgCom
BldgRes
BldgResImp
BldgSect
CdAttrTypeNum
CxPrclCnBlk10
Prcl
PrclAddr
PrclAddrLRMS
PrclAsmt
PrclAttr
PrclDate
PrclImp
PrclREAR

In [35]:
prcl = mdb.read_table("prcl.mdb", "PrclREAR")
prcl.head()

,CityBlock,Parcel,OwnerCode,BillYear,BillSuffix,LastUpdate,OriginalCharge,TaxAmt,LandValue,ImproveValue,...,ComTotalValue,ComTaxAmt,SurTaxAmt,SBDTaxAmt,LatSewerAmt,DemoCharge,NuisanceTax,TIFDist,TIFSplit,SpecBusDist2
0,1.0,5,8,2009,1,01/11/10 00:00:00,1002.6700,1002.6700,0.0000,12100.0000,...,0.0000,804.2300,198.4400,0.0000,0.0000,0.0000,0.0000,0,0,0
1,1.0,5,8,2010,1,01/06/11 00:00:00,1035.6000,1035.6000,0.0000,12100.0000,...,0.0000,837.1600,198.4400,0.0000,0.0000,0.0000,0.0000,0,0,0
2,1.0,5,8,2011,1,01/12/12 00:00:00,1070.4900,1070.4900,0.0000,12100.0000,...,0.0000,872.0500,198.4400,0.0000,0.0000,0.0000,0.0000,0,0,0
3,1.0,5,8,2012,1,01/09/13 00:00:00,1105.6300,1105.6300,0.0000,12100.0000,...,0.0000,907.1900,198.4400,0.0000,0.0000,0.0000,0.0000,0,0,0
4,1.0,5,8,2013,1,12/16/13 00:00:00,1116.5200,1116.5200,0.0000,12100.0000,...,0.0000,918.0800,198.4400,0.0000,0.0000,0.0000,0.0000,0,0,0

In [45]:
new_df = pd.DataFrame(prcl, columns=["CityBlock", "Parcel", "BillYear","TaxAmt", "TotalValue", "TaxBal", "ResTaxAmt"])
new_df.head()

   CityBlock Parcel BillYear     TaxAmt  TotalValue  TaxBal ResTaxAmt
0        1.0      5     2009  1002.6700  12100.0000  0.0000    0.0000
1        1.0      5     2010  1035.6000  12100.0000  0.0000    0.0000
2        1.0      5     2011  1070.4900  12100.0000  0.0000    0.0000
3        1.0      5     2012  1105.6300  12100.0000  0.0000    0.0000
4        1.0      5     2013  1116.5200  12100.0000  0.0000    0.0000

In [48]:
filtered_df = new_df.loc[new_df['ResTaxAmt']!= "0.0000"]
filtered_df

,CityBlock,Parcel,BillYear,TaxAmt,TotalValue,TaxBal,ResTaxAmt
1292,68.0,20,2015,4386.2400,17210.0000,0.0000,1306.2000
1293,68.0,20,2016,4768.4600,17210.0000,0.0000,1442.5100
1294,68.0,20,2017,4719.3800,17210.0000,0.0000,1424.2300
1295,68.0,20,2018,4786.1100,17210.0000,0.0000,1449.0800
1786,97.0,10,2013,3202.6500,36920.0000,0.0000,2801.2700
1787,97.0,10,2014,3201.7600,36920.0000,0.0000,2800.3800
1788,97.0,10,2015,3227.4800,36920.0000,0.0000,2802.1500
1789,97.0,10,2016,3537.1300,36920.0000,0.0000,3094.5600
1790,97.0,10,2017,3497.9200,36920.0000,0.0000,3055.3500
1791,97.0,10,2018,3551.2300,36920.0000,0.0000,3108.6600
1793,97.0,20,2013,6389.0900,71670.0000,0.0000,5437.8900
1794,97.0,20,2014,6387.3700,71670.0000,0.0000,5436.1700
1795,97.0,20,2015,6447.5000,71670.0000,0.0000,5439.6100
1796,97.0,20,2016,7056.0500,71670.0000,0.0000,6007.2400
1797,97.0,20,2017,6979.9300,71670.0000,0.0000,5931.1200
1798,97.0,20,2018,7083.4200,71670.0000,0.0000,6034.6100
1799,97.0,30,2012,63188.1100,685900.0000,0.0000,51424.6700
1800,97.0,30,2013,57431.5900,606210.0000,0.0000,45995.5800
1801,97.0,30,2014,64115.2200,685900.0000,0.0000,52025.5200
1802,97.0,30,2015,58499.5800,606250.0000,0.0000,46013.1600
1803,97.0,30,2016,64061.0500,606250.0000,0.0000,50814.6600
1804,97.0,30,2017,63352.5400,606250.0000,0.0000,50170.8300
1805,97.0,30,2018,64315.9000,606250.0000,0.0000,51046.2500
1867,99.0,17,2010,2374.4800,33270.0000,0.0000,2301.8500
1868,99.0,17,2011,1883.9100,25120.0000,0.0000,1810.4000
1869,99.0,17,2012,1961.0900,25120.0000,0.0000,1883.3500
1870,99.0,17,2013,1849.4100,23310.0000,0.0000,1768.6200
1871,99.0,17,2014,1848.8500,23310.0000,0.0000,1768.0600
1872,99.0,17,2015,2263.1200,28690.0000,0.0000,2177.5100
1873,99.0,17,2016,2493.8300,28690.0000,0.0000,2404.7400
...,...,...,...,...,...,...,...
1120191,9120.0,150,2013,453.6500,5610.0000,0.0000,425.6500
1120192,9120.0,150,2014,453.5200,5610.0000,0.0000,425.5200
1120193,9120.0,150,2015,427.2200,5260.0000,0.0000,399.2200
1120194,9120.0,150,2016,468.8800,5260.0000,0.0000,440.8800
1120195,9120.0,150,2017,419.4400,4730.0000,0.0000,391.4400
1120196,9120.0,150,2018,426.2700,4730.0000,0.0000,398.2700
1120197,9120.0,350,2009,332.9900,5010.0000,0.0000,332.9900
1120198,9120.0,350,2010,346.6300,5010.0000,0.0000,346.6300
1120199,9120.0,350,2011,368.2800,5110.0000,0.0000,368.2800
1120200,9120.0,350,2012,528.0800,6670.0000,0.0000,500.0800
1120201,9120.0,350,2013,490.8300,6100.0000,0.0000,462.8300
1120202,9120.0,350,2014,490.6900,6100.0000,0.0000,462.6900
1120203,9120.0,350,2015,391.5500,4790.0000,0.0000,363.5500
1120204,9120.0,350,2016,429.4900,4790.0000,0.0000,401.4900
1120205,9120.0,350,2017,394.6100,4430.0000,0.0000,366.6100
1120206,9120.0,350,2018,401.0100,4430.0000,0.0000,373.0100
1120207,9120.0,360,2009,523.7400,7880.0000,0.0000,523.7400
1120208,9120.0,360,2010,545.1900,7880.0000,0.0000,545.1900
1120209,9120.0,360,2011,684.6700,9500.0000,0.0000,684.6700
1120210,9120.0,360,2012,740.2500,9500.0000,0.0000,712.2500
1120211,9120.0,360,2013,1068.9900,13720.0000,0.0000,1040.9900
1120212,9120.0,360,2014,1068.6600,13720.0000,0.0000,1040.6600
1120213,9120.0,360,2015,1010.1200,12940.0000,0.0000,982.1200
1120214,9120.0,360,2016,1112.6000,12940.0000,0.0000,1084.6000
1120215,9120.0,360,2017,1011.1400,11880.0000,0.0000,983.1400
1120216,9120.0,360,2018,1028.3000,11880.0000,0.0000,1000.3000
1120239,9121.0,60,2015,90.3200,1190.0000,0.0000,90.3200
1120240,9121.0,60,2016,99.7400,1190.0000,0.0000,99.7400
1120241,9121.0,60,2017,166.3400,2010.0000,0.0000,166.3400
1120242,9121.0,60,2018,169.2400,2010.0000,0.0000,169.2400

In [50]:
filtered_df.to_csv('text_data')

In [21]:
#tax amount, total value, tax bal, res tax amount, sbd tax amount, sur tax amount. 
#link tax balance to parcel worksheet, vacant lot t or f (there is a file called parcel in the parcel database)
#avg p

In [5]:
df = mdb.read_table("StLouisCityData.mdb", "PAR1997")
df.head()

,HANDLE,UPDATED,SITEADDR,OWNERNAME,OWNERNAME2,OWNERADDR,OWNERCITY,OWNERSTATE,OWNERCNTRY,OWNERZIP,...,CDASUBDIST,WARD,PRECINCT,NBRHD,CENSBLOCK,POLICEDIST,ZIP,IMPACTAREA,HSCONSERV,PARCEL10
0,10001000005,04/26/98 00:00:00,626 S 1ST ST,CITY OF ST LOUIS,NaN,1200 MARKET ST,ST LOUIS MO,NaN,NaN,63103.0,...,2,7,6,35,1222.104,4,63102.0,0,0,1000005.0
1,10001000010,04/26/98 00:00:00,616-22 S 1ST ST,STATE OF MISSOURI,NaN,NaN,NaN,NaN,NaN,0.0,...,2,7,6,35,1222.104,4,63102.0,0,0,1000010.0
2,10001000020,04/26/98 00:00:00,608 S 1ST ST,TERMINAL RAILROAD ASSN,NaN,ROOM 211 UNION STATION,ST LOUIS,MO,NaN,63103.0,...,2,7,6,35,1222.104,4,63102.0,0,0,1000020.0
3,10001000032,04/26/98 00:00:00,619 S WHARF ST,"SLAY, JOHN R",NaN,2812 CHAMPIONSHIP BLVD,ST LOUIS,MO,NaN,63129.0,...,2,7,6,35,1222.104,4,63102.0,0,0,1000032.0
4,10001000034,04/26/98 00:00:00,620 N COMMERCIAL ST,TERMINAL REALTY CO,NaN,700 NORTH SECOND ST,ST LOUIS,MO,NaN,63102.0,...,2,7,6,35,1222.104,4,63102.0,0,0,1000034.0

In [6]:
df1 = mdb.read_table("StLouisCityData.mdb", "PAR2010")
df1.head()

,HANDLE,UPDATED,SITEADDR,OWNERNAME,OWNERNAME2,OWNERADDR,OWNERCITY,OWNERSTATE,OWNERCNTRY,OWNERZIP,...,ASRNBRHD,CENSBLOCK,POLICEDIST,ZIP,IMPACTAREA,HSCONSERV,OWNEROCC,VACBLDGYR,PARCEL10,PARCEL9
0,14552000250,12/26/10 00:00:00,4739 LEWIS PL,"COBB, STEPHANIE & KIM D",NaN,4739 LEWIS PL,ST LOUIS,MO,NaN,63113,...,234,1123.1003,8,63113,1,0,1,0,4552000250,455200250
1,14552000260,12/26/10 00:00:00,4741 LEWIS PL,"ROBBINS, CLIFFORD JR & GENEVIEVE F &",RICHARD ROBBINS & CAROLYN LEAKE,1021 NORTH MCKNIGHT ROAD APT 3 FN,ST LOUIS,MO,NaN,631324032,...,234,1123.1003,8,63113,1,0,NaN,0,4552000260,455200260
2,14552000270,12/26/10 00:00:00,4745 LEWIS PL,"MOORE, TYWANA LATRICE",NaN,4745 LEWIS PL,ST LOUIS,MO,NaN,63113,...,234,1123.1003,8,63113,1,0,1,0,4552000270,455200270
3,14552000280,12/26/10 00:00:00,4753 LEWIS PL,"ROBB, SHERMAN J",NaN,4519 BLAIR AV,ST LOUIS,MO,NaN,63107,...,234,1123.1003,8,63113,1,0,NaN,0,4552000280,455200280
4,14553050010,12/26/10 00:00:00,1220 REV GEORGE H PRUITT PL,PLEASANT GREEN BAPTIST CHURCH,NaN,1220 REV GEORGE H PRUITT PL,ST LOUIS,MO,NaN,63113,...,234,1123.1,8,63113,1,0,X,2010,4553050010,455305010

In [7]:
df2 = pd.read_csv('city-of-st-louis-survey.csv')
df2

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (42) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Address,Time,User,Image,Tags,1 Structure on Site?,2S Structure Occupied?,3S Structure Use,3Sr Type of Residence,3Si Type of Institutional,...,Assessment Improved Value,Assessment Total,Land Use Value,Land Use Value 2,Land Use Value 3,Land Use Value 4,Number of Buildings,Land Area,Frontage,Legal Description
0,1400-98 Market St,2016-03-22 09:51,Kimberlyn hancock,NaN,NaN,Yes,Occupied (Not Vacant),NaN,NaN,NaN,...,2558300.0,3794900.0,5820.0,6300.0,0.0,0.0,1.0,193215.0,0.0,C. B. 209 MARKET 332 FT 3 3/4 IN X 581 FT 6 IN...
1,1400-98 Market St,2016-03-22 10:08,Kimberlyn hancock,NaN,NaN,Yes,Occupied (Not Vacant),NaN,NaN,NaN,...,2558300.0,3794900.0,5820.0,6300.0,0.0,0.0,1.0,193215.0,0.0,C. B. 209 MARKET 332 FT 3 3/4 IN X 581 FT 6 IN...
2,1700 Clark Av,2016-03-22 10:08,Charles berggren,NaN,NaN,Yes,Occupied (Not Vacant),NaN,NaN,NaN,...,0.0,55600.0,3000.0,0.0,0.0,0.0,0.0,86815.0,0.0,C.B. 221 CLARK AV 1.993 ACRES FIRST ADDN TO UN...
3,1700-98 Market St,2016-03-22 10:08,Americorps,NaN,NaN,Yes,Occupied (Not Vacant),NaN,NaN,NaN,...,5853100.0,5853100.0,5000.0,0.0,0.0,0.0,0.0,321473.0,0.0,C B 211 W MARKET 7.38 ACRES RENE PAULS ADDN BN...
4,1600-98 Market St,2016-03-22 10:08,Charles berggren,NaN,NaN,Yes,Occupied (Not Vacant),NaN,NaN,NaN,...,11758100.0,11758100.0,6700.0,0.0,0.0,0.0,0.0,74851.0,0.0,C. B. 211EA MARKET 215-117 FT / 215.338 FT X 3...
5,1700-98 Market St,2016-03-22 10:08,Markeda Carter,https://wdwot.s3.amazonaws.com/blextoid/56f151...,NaN,Yes,Occupied (Not Vacant),NaN,NaN,NaN,...,5853100.0,5853100.0,5000.0,0.0,0.0,0.0,0.0,321473.0,0.0,C B 211 W MARKET 7.38 ACRES RENE PAULS ADDN BN...
6,1401 Chestnut St,2016-03-22 10:08,Kimberlyn hancock,https://wdwot.s3.amazonaws.com/blextoid/56f151...,NaN,No,NaN,NaN,NaN,NaN,...,0.0,0.0,7600.0,0.0,0.0,0.0,0.0,82481.0,0.0,C.B. 499 CHESTNUT 338 FT 6 IN X 243 FT 8 IN ME...
7,1600-98 Market St,2016-03-22 10:08,Markeda Carter,https://wdwot.s3.amazonaws.com/blextoid/56f151...,NaN,Yes,Occupied (Not Vacant),NaN,NaN,NaN,...,11758100.0,11758100.0,6700.0,0.0,0.0,0.0,0.0,74851.0,0.0,C. B. 211EA MARKET 215-117 FT / 215.338 FT X 3...
8,1401 Market St,2016-03-22 10:08,nicoledominy,https://wdwot.s3.amazonaws.com/blextoid/56f151...,NaN,No,NaN,NaN,NaN,NaN,...,0.0,0.0,7600.0,0.0,0.0,0.0,0.0,52480.0,0.0,C.B. 492 CHESTNUT 328 FT X 160 FT MEMORIAL PLA...
9,1401 Market St,2016-03-22 10:08,Kimberlyn hancock,https://wdwot.s3.amazonaws.com/blextoid/56f151...,NaN,No,NaN,NaN,NaN,NaN,...,0.0,0.0,7600.0,0.0,0.0,0.0,0.0,52480.0,0.0,C.B. 492 CHESTNUT 328 FT X 160 FT MEMORIAL PLA...
10,1400-98 Market St,2016-03-22 10:08,nicoledominy,https://wdwot.s3.amazonaws.com/blextoid/56f151...,NaN,Yes,Occupied (Not Vacant),NaN,NaN,NaN,...,2558300.0,3794900.0,5820.0,6300.0,0.0,0.0,1.0,193215.0,0.0,C. B. 209 MARKET 332 FT 3 3/4 IN X 581 FT 6 IN...
11,1700 Clark Av,2016-03-22 10:09,Charles berggren,NaN,NaN,Yes,Occupied (Not Vacant),NaN,NaN,NaN,...,0.0,55600.0,3000.0,0.0,0.0,0.0,0.0,86815.0,0.0,C.B. 221 CLARK AV 1.993 ACRES FIRST ADDN TO UN...
12,1401 Market St,2016-03-22 10:09,Kimberlyn hancock,https://wdwot.s3.amazonaws.com/blextoid/56f152...,NaN,No,NaN,NaN,NaN,NaN,...,0.0,0.0,7600.0,0.0,0.0,0.0,0.0,52480.0,0.0,C.B. 492 CHESTNUT 328 FT X 160 FT MEMORIAL PLA...
13,1800-932 Market St,2016-03-22 10:09,Markeda Carter,https://wdwot.s3.amazonaws.com/blextoid/56f152...,NaN,Yes,Occupied (Not Vacant),NaN,NaN,NaN,...,0.0,3328500.0,5000.0,0.0,0.0,0.0,0.0,693432.0,0.0,C.B.1668-1669-1670-1695E-1696E-1697E & PRT 459...
14,1700-98 Market St,2016-03-22 10:09,Markeda Carter,https://wdwot.s3.amazonaws.com/blextoid/56f152...,NaN,Yes,Occupied (Not Vacant),NaN,NaN,NaN,...,5853100.0,5853100.0,5000.0,0.0,0.0,0.0,0.0,321473.0,0.0,C B 211 W MARKET 7.38 ACRES RENE PAULS ADDN BN...
15,1401 Chestnut St,2016-03-22 10:09,Kimberlyn hancock,https://wdwot.s3.amazonaws.com/blextoid/56f152...,NaN,No,NaN,NaN,NaN,NaN,...,0.0,0.0,7600.0,0.0,0.0,0.0,0.0,82481.0,0.0,C.B. 499 CHESTNUT 338 FT 6 IN X 243 FT 8 IN ME...
16,1401 Chestnut St,2016-03-22 10:09,nicoledominy,https://wdwot.s3.amazonaws.com/blextoid/56f152...,NaN,No,NaN,NaN,NaN,NaN,...,0.0,0.0,7600.0,0.0,0.0,0.0,0.0,82481.0,0.0,C.B. 499 CHESTNUT 338 FT 6 IN X 243 FT 8 IN ME...
17,1401 Market St,2016-03-22 10:09,nicoledominy,https://wdwot.s3.amazonaws.com/blextoid/56f152...,NaN,No,NaN,NaN,NaN,NaN,...,0.0,0.0,7600.0,0.0,0.0,0.0,0.0,52480.0,0.0,C.B. 492 CHESTNUT 328 FT X 160 FT MEMORIAL PLA...
18,1600-98 Market St,2016-03-22 10:09,Markeda Carter,https://wdwot.s3.amazonaws.com/blextoid/56f152...,NaN,Yes,Occupied (Not Vacant),NaN,NaN,NaN,...,11758100.0,11758100.0,6700.0,0.0,0.0,0.0,0.0,74851.0,0.0,C. B. 211EA MARKET 215-117 FT / 215.338 FT X 3...
19,1400-98 Market St,2016-03-22 10:09,nicoledominy,https://wdwot.s3.amazonaws.com/blextoid/56f152...,NaN,Yes,Occupied (Not Vacant),NaN,NaN,NaN,...,2558300.0,3794900.0,5820.0,6300.0,0.0,0.0,1.0,193215.0,0.0,C. B. 209 MARKET 332 FT 3 3/4 IN X 581 FT 6 IN...
20,10 Plaza Square,2016-03-22 10:09,Kimberlyn hancock,https://wdwot.s3.amazonaws.com/blextoid/56f152...,NaN,Yes,Occupied (Not Vacant),NaN,NaN,NaN,...,2128900.0,2257640.0,1185.0,0.0,0.0,0.0,1.0,33882.0,0.0,C.B. 0498 15TH ST 233.82 FT X 145 FT LUCAS & H...
21,10 Plaza Square,2016-03-22 10:09,nicoledominy,https://wdwot.s3.amazonaws.com/blextoid/56f152...,NaN,Yes,Occupied (Not Vacant),NaN,NaN,NaN,...,2128900.0,2257640.0,1185.0,0.0,0.0,0.0,1.0,33882.0,0.0,C.B. 0498 15TH ST 233.82 FT X 145 FT LUCAS & H...
22,1700 Clark Av,2016-03-22 10:10,Charles berggren,NaN,NaN,Yes,Occupied (Not Vacant),NaN,NaN,NaN,...,0.0,55600.0,3000.0,0.0,0.0,0.0,0.0,86815.0,0.0,C.B. 221 CLARK AV 1.993 ACRES FIRST ADDN TO UN...
23,1-99 N 18th St,2016-03-22 10:10,Markeda Carter,NaN,NaN,No,NaN,NaN,NaN,NaN,...,384000.0,384000.0,7600.0,0.0,0.0,0.0,0.0,51300.0,0.0,C. B. 894 18TH ST 380 FT X 135 FT LUCAS & HUNT...
24,1-99 N 18th St,2016-03-22 10:10,Markeda Carter,NaN,NaN,No,NaN,NaN,NaN,NaN,...,384000.0,384000.0,7600.0,0.0,0.0,0.0,0.0,51300.0,0.0,C. B. 894 18TH ST 380 FT X 135 FT LUCAS & HUNT...
25,1401 Chestnut St,2016-03-22 10:10,nicoledominy,https://wdwot.s3.amazonaws.com/blextoid/56f152...,NaN,No,NaN,NaN,NaN,NaN,...,0.0,0.0,7600.0,0.0,0.0,0.0,0.0,82481.0,0.0,C.B. 499 CHESTNUT 338 FT 6 IN X 243 FT 8 IN ME...
26,1800-932 Market St,2016-03-22 10:10,Americorps,https://wdwot.s3.amazonaws.com/blextoid/56f152...,NaN,Yes,Occupied (Not Vacant),NaN,NaN,NaN,...,0.0,3328500.0,5000.0,0.0,0.0,0.0,0.0,693432.0,0.0,C.B.1668-1669-1670-1695E-1696E-1697E & PRT 459...
27,1401 Market St,2016-03-22 10:10,Kimberlyn hancock,https://wdwot.s3.amazonaws.com/blextoid/56f152...,NaN,No,NaN,NaN,NaN,NaN,...,0.0,0.0,7600.0,0.0,0.0,0.0,0.0,52480.0,0.0,C.B. 492 CHESTNUT 328 FT X 160 FT MEMORIAL PLA...
28,20 N 20th St,2016-03-22 10:10,Markeda Carter,https://wdwot.s3.amazonaws.com/blextoid/56f152...,NaN,No,NaN,NaN,NaN,NaN,...,0.0,0.0,5300.0,0.0,0.0,0.0,0.0,45840.0,0.0,C. B. 903 20TH ST 338 FT 6 IN X 135 FT 5 IN ST...
29,15 Plaza Square,2016-03-22 10:10,Kimberlyn hancock,https://wdwot.s3.amazonaws.com/blextoid/56f152...,NaN,Yes,Occupied (Not Vacant),NaN,NaN,NaN,...,294700.0,294700.0,6911.0,0.0,0.0,0.0,0.0,0.0,0.0,C. B. 498 PINE ST WEST PART OF BLOCK LUCAS & ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31943,1252 Academy Av,2016-07-08 10:04,Jasmine Aldershoff,https://wdwot.s3.amazonaws.com/blextoid/577fb3...,NaN,Yes,Unoccupied (Vacant),Commercial,NaN,NaN,...,7800.0,8400.0,5000.0,0.0,0.0,0.0,1.0,1300.0,0.0,CB 5153 ACADEMY 26 FT X 50 FT RAYMOND PLACE AD...
31944,1333 N Kingshighway Blvd,2016-07-08 10:11,Katherine Smith,https://wdwot.s3.amazonaws.com/blextoid/577fb4...,NaN,No,NaN,NaN,NaN,NaN,...,12800.0,12800.0,6911.0,0.0,0.0,0.0,0.0,1.0,0.0,CB 3790 KINGSHIGHWAY BL 50 FT X 146 FT LUCAS &...
31945,811-7 N Kingshighway Blvd,2016-07-08 10:11,Eugene,https://wdwot.s3.amazonaws.com/blextoid/577fb4...,NaN,Yes,Possible Unoccupied,Commercial,NaN,NaN,...,25700.0,45900.0,5820.0,0.0,0.0,0.0,1.0,10500.0,0.0,C B 4838 KINGSHIGHWAY BLVD 70 FT X 150 FT MT C...
31946,1339 N Kingshighway Blvd,2016-07-08 10:11,Jasmine Aldershoff,https://wdwot.s3.amazonaws.com/blextoid/577fb4...,NaN,Yes,Occupied (Not Vacant),NaN,NaN,NaN,...,54000.0,62900.0,6911.0,0.0,0.0,0.0,0.0,15640.0,0.0,C B 3790 KINGSHIGHWAY BLVD 115 FT/110 FT X 143...
31947,811-7 Academy Av,2016-07-08 10:15,Eugene,https://wdwot.s3.amazonaws.com/blextoid/577fb5...,NaN,Yes,Occupied (Not Vacant),NaN,NaN,NaN,...,11100.0,12100.0,5000.0,0.0,0.0,0.0,1.0,2482.0,0.0,C.B.4843 ACADEMY 82 FT 9 IN X 30 FT MT CABANNE...
31948,823 Academy Av,2016-07-08 10:16,Alice McVicker,https://wdwot.s3.amazonaws.com/blextoid/577fb5...,NaN,No,NaN,NaN,NaN,NaN,...,0.0,380.0,1120.0,0.0,0.0,0.0,0.0,0.0,27.0,C.B.4843 ACADEMY AVE 27 FT X 133 FT 4 IN MT CA...
31949,821 Academy Av,2016-07-08 10:17,Eugene,https://wdwot.s3.amazonaws.com/blextoid/577fb5...,NaN,Yes,Unoccupied (Vacant),Residential,Multi-Family,NaN,...,1330.0,2110.0,1120.0,0.0,0.0,0.0,1.0,0.0,27.0,C.B.4843 ACADEMY 27 FT X 160 FT MT CABANNE ADD...
31950,5192-4 Page Blvd,2016-07-08 10:19,Jasmine Aldershoff,https://wdwot.s3.amazonaws.com/blextoid/577fb6...,NaN,No,NaN,NaN,NaN,NaN,...,0.0,380.0,1010.0,0.0,0.0,0.0,0.0,0.0,27.0,C. B. 5149 PAGE 27 FT X 137 FT 6 IN RAYMOND PL...
31951,1118 Union Blvd,2016-07-08 10:27,Katherine Smith,https://wdwot.s3.amazonaws.com/blextoid/577fb8...,NaN,Yes,Unoccupied (Vacant),Commercial,NaN,NaN,...,3500.0,6800.0,5820.0,0.0,0.0,0.0,1.0,6313.0,0.0,C.B.5144 UNION BL 60 FT X 105 FT 2 3/4 IN RAYM...
31952,1122 Union Blvd,2016-07-08 10:27,Jasmine Aldershoff,https://wdwot.s3.amazonaws.com/blextoid/577fb8...,NaN,Yes,Occupied (Not Vacant),Residential,NaN,NaN,...,5900.0,9600.0,5811.0,0.0,0.0,0.0,1.0,7103.0,0.0,C B 5144 UNION BLVD 67 FT 6 IN X 105 FT 2 3/4 ...
31953,1130 Union Blvd,2016-07-08 10:28,Jasmine Aldershoff,https://wdwot.s3.amazonaws.com/blextoid/577fb8...,NaN,No,NaN,NaN,NaN,NaN,...,4800.0,4800.0,4000.0,0.0,0.0,0.0,0.0,0.0,0.0,C. B. 5145 UNION RIGHT OF WAY
31954,1136-44 Union Blvd,2016-07-08 10:30,Jasmine Aldershoff,https://wdwot.s3.amazonaws.com/blextoid/577fb8...,NaN,No,NaN,NaN,NaN,NaN,...,0.0,8700.0,5820.0,0.0,0.0,0.0,0.0,16642.0,0.0,C.B.5145 UNION BLVD 86FT 3/4IN / 127FT X 156FT...
31955,5253 Raymond Av,2016-07-08 10:31,Katherine Smith,https://wdwot.s3.amazonaws.com/blextoid/577fb9...,NaN,No,NaN,NaN,NaN,NaN,...,0.0,720.0,1010.0,0.0,0.0,0.0,0.0,0.0,50.0,C.B.5145 RAYMOND AVE 50 FT X 127 FT 1 IN RAYMO...
31956,811-3 Clarendon Av,2016-07-08 10:45,Katie Fernandez,https://wdwot.s3.amazonaws.com/blextoid/577fbc...,NaN,Yes,Occupied (Not Vacant),NaN,NaN,NaN,...,3360.0,4090.0,1120.0,0.0,0.0,0.0,1.0,0.0,25.0,C.B.4846 CLARENDON AVE 25 FT X 100 FT 6 1/2 IN...
31957,807-9 Clarendon Av,2016-07-08 10:46,Katie Fernandez,https://wdwot.s3.amazonaws.com/blextoid/577fbc...,NaN,Yes,Occupied (Not Vacant),NaN,NaN,NaN,...,3360.0,4090.0,1120.0,0.0,0.0,0.0,1.0,0.0,25.0,C.B.4846 CLARENDON 25 FT X 100 FT 5 3/4 IN MT ...
31958,814 Clarendon Av,2016-07-08 10:47,Eugene,https://wdwot.s3.amazonaws.com/blextoid/577fbc...,NaN,Yes,Unoccupied (Vacant),Commercial,NaN,NaN,...,4400.0,5000.0,5000.0,0.0,0.0,0.0,1.0,1471.0,0.0,C.B.4843 CLARENDON AVE 57 FT 8 5/8 IN S 25 FT ...
31959,815-7 Clarendon Av,2016-07-08 10:47,Katie Fernandez,https://wdwot.s3.amazonaws.com/blextoid/577fbd...,NaN,No,NaN,NaN,NaN,NaN,...,0.0,360.0,1010.0,0.0,0.0,0.0,0.0,0.0,25.0,C.B.4846 CLARENDON 25 FT X 100 FT 7 IN MT CABA...
31960,818-22 Clarendon Av,2016-07-08 10:48,Alice McVicker,https://wdwot.s3.amazonaws.com/blextoid/577fbd...,NaN,Yes,Unoccupied (Vacant),Commercial,NaN,NaN,...,0.0,1000.0,6911.0,0.0,0.0,0.0,1.0,3000.0,0.0,C.B.4843 CLARENDON 50 FT X 60 FT MT CABANNE AD...
31961,812 Union Blvd,2016-07-08 10:51,Eugene,https://wdwot.s3.amazonaws.com/blextoid/577fbd...,NaN,Yes,Occupied (Not Vacant),NaN,NaN,NaN,...,42800.0,47900.0,6994.0,0.0,0.0,0.0,1.0,8094.0,0.0,C.B.4846 UNION 67 FT X 120 FT 10 IN MT CABANNE...
31962,5152 Kensington Av,2016-07-08 10:58,Alice McVicker,https://wdwot.s3.amazonaws.com/blextoid/577fbf...,NaN,Yes,Occupied (Not Vacant),NaN,NaN,NaN,...,2850.0,3570.0,1110.0,0.0,0.0,0.0,1.0,0.0,25.0,C.B.4843 KENSINGTON AVE 25 FT X 170 FT MT CABA...
31963,917 Clarendon Av,2016-07-08 11:03,Alice McVicker,https://wdwot.s3.amazonaws.com/blextoid/577fc0...,NaN,Yes,Occupied (Not Vacant),NaN,NaN,NaN,...,2810.0,3480.0,1110.0,0.0,0.0,0.0,1.0,0.0,23.0,C.B.4847 CLARENDON 23 FT X 131 FT 4 1/2 IN MT ...
31964,916-22 Clarendon Av,2016-07-08 11:03,Eugene,https://wdwot.s3.amazonaws.com/blextoid/577fc0...,NaN,No,NaN,NaN,NaN,NaN,...,0.0,1900.0,5000.0,0.0,0.0,0.0,0.0,4863.0,0.0,C.B.4842 CLARENDON AVE 70 FT/27 FT 3 IN X 100 ...
31965,915 Clarendon Av,2016-07-08 11:03,Katie Fernandez,https://wdwot.s3.amazonaws.com/blextoid/577fc0...,NaN,Yes,Occupied (Not Vacant),NaN,NaN,NaN,...,5050.0,5660.0,1110.0,0.0,0.0,0.0,1.0,0.0,21.0,C.B.4847 CLARENDON AVE 21 FT X 131 FT 4 IN MT ...
31966,919 Clarendon Av,2016-07-08 11:03,Katie Fernandez,https://wdwot.s3.amazonaws.com/blextoid/577fc0...,NaN,Yes,Occupied (Not Vacant),NaN,NaN,NaN,...,2950.0,3550.0,1110.0,0.0,0.0,0.0,1.0,0.0,21.0,C.B.4847 CLARENDON 21 FT X 131 FT 4 1/2 IN MT ...
31967,917r Academy Av,2016-07-08 11:06,Darlene Gray,https://wdwot.s3.amazonaws.com/blextoid/577fc1...,NaN,No,NaN,NaN,NaN,NaN,...,0.0,800.0,5000.0,0.0,0.0,0.0,0.0,2020.0,0.0,C.B. 4842 ACADEMY AVE 30 FT X 67 FT 4 3/4 IN M...
31968,932 Academy Av,2016-07-08 11:07,Katherine Smith,https://wdwot.s3.amazonaws.com/blextoid/577fc1...,NaN,No,NaN,NaN,NaN,NaN,...,0.0,40.0,1010.0,0.0,0.0,0.0,0.0,0.0,3.0,C.B.4839 ALLEY 3 FT X 50 FT MT CABANNE ADDN LO...
31969,915 Academy Av,2016-07-08 11:07,Darlene Gray,https://wdwot.s3.amazonaws.com/blextoid/577fc1...,NaN,No,NaN,NaN,NaN,NaN,...,0.0,4200.0,4000.0,0.0,0.0,0.0,0.0,0.0,0.0,C. B. 4842 ACADEMY AVE RIGHT OF WAY
31970,917-23 Academy Av,2016-07-08 11:08,Katherine Smith,https://wdwot.s3.amazonaws.com/blextoid/577fc1...,NaN,No,NaN,NaN,NaN,NaN,...,0.0,900.0,5000.0,0.0,0.0,0.0,0.0,2357.0,0.0,C.B. 4842 ACADEMY AVE 35 FT X 67 FT 4 3/4 IN M...
31971,924-6 Academy Av,2016-07-08 11:08,Jasmine Aldershoff,https://wdwot.s3.amazonaws.com/blextoid/577fc1...,NaN,No,NaN,NaN,NaN,NaN,...,0.0,1900.0,5330.0,6300.0,0.0,0.0,0.0,5000.0,0.0,C.B.4839 ACADEMY 50 FT X 100 FT MT CABANNE ADD...
31972,911-3 Academy Av,2016-07-08 11:09,Katherine Smith,https://wdwot.s3.amazonaws.com/blextoid/577fc2...,NaN,No,NaN,NaN,NaN,NaN,...,0.0,1200.0,5000.0,0.0,0.0,0.0,0.0,3262.0,0.0,CB 4842 ACADEMY 46 FT 7 1/4 IN X 70 FT MT CABA...

In [ ]:
df3.dropna

In [9]:
df3 = mdb.read_table("StLouisCityData.mdb", "GDB_SpatialRefs")
df3.head()

,SRID,SRTEXT,FalseX,FalseY,XYUnits,FalseZ,ZUnits,FalseM,MUnits,IsHighPrecision,XYTolerance,ZTolerance,MTolerance
0,1,"GEOGCS[""GCS_WGS_1984"",DATUM[""D_WGS_1984"",SPHER...",-180.0,-90.0,1000000.000000,-100000.0,10000.0,-100000.0,10000.0,1,0.000002,0.001,0.001
1,2,"PROJCS[""NAD_1983_StatePlane_Missouri_East_FIPS...",-17627100.0,-45827300.0,3048.006096,-100000.0,10000.0,-100000.0,10000.0,1,0.003281,0.001,0.001

In [54]:
prcl2 = pd.DataFrame(mdb.read_table("prcl.mdb", "Prcl"))
prcl2.head()

ValueError: Integer column has NA values in column 60

In [53]:
new_df2 = pd.DataFrame(prcl2, columns=["CityBlock", "Parcel", "VacantLot"])
new_df2.head()

NameError: name 'prcl2' is not defined